# This workflow runs CI on pull requests to any branch except main
name: CI-PR

on:
  pull_request:
    branches-ignore:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 18.x
      - run: npm ci
      - name: setup
        run: |
          npm run start:mongo
      - name: lint and test
        run: |
          npm run lint
          npm run test:cov
      - name: Coveralls
        uses: coverallsapp/github-action@v2
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
